python-telegram-bot
selenium~=3.141.0

pyzbar~=0.1.8
pip~=21.0.1
wheel~=0.36.2
cryptography~=3.4.2
setuptools~=52.0.0
telegram~=0.0.1
opencv-python~=4.5.1.48
mysql-connector-python~=8.0.23
pytz~=2021.1
numpy~=1.20.1
cffi~=1.14.4
six~=1.15.0
protobuf~=3.14.0
certifi~=2020.12.5
tornado~=6.1
tzlocal~=2.1
urllib3~=1.26.3
APScheduler~=3.6.3
pycparser~=2.20
pyodbc~=4.0.30